{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}

<div class="container-lg">
    <div class="row justify-content-md-center my-sm-4">
        <center>
            <h3>Welcome {{user}}</h3>
        </center>
    </div>
    <form action="#" method="POST">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="mb-3 row justify-content-between">
                <label for="email" class="col-sm-2 col-form-label">Edit email</label>
                <div class="col-sm-5">
                    <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
                </div>
                <div class="col-sm-3">
                    <button type="submit" value="submit" name="submit_email" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}
